<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>flymc3</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
	<style type="text/css">
		.bar rect {
		  fill: steelblue;
		}
        .line {
          fill: none;
          stroke: #000;
          stroke-width: 5px;
          stroke-linejoin: round;
          stroke-linecap: round;
        }
		.bar text {
		  fill: #fff;
		  font: 10px sans-serif;
		}

		body {
			background-color: #FFFFFF;
		}
		.ui.menu .item img.logo {
			margin-right: 1.5em;
		}
		.main.container {
			margin-top: 7em;
		}
	</style>
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="{{ url_for('static', filename='assets/images/logo.png') }}">
        FlyMC3
      </a>
    </div>
  </div>

  <div class="ui main text container">
      {% block body %}
      <ul>
          <li><a href='{{ url_for("coins") }}'>Coin Flipper</a></li>
          <li><a href='{{ url_for("model") }}'>Define a model</a></li>
      {% endblock %}
  </div>
</body>

<div id="footer">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['\\(','\\)'], ['\[','\]'] ],
      processEscapes: true
    }
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>
{% block footer %}
{% endblock %}
</div>
</html>
